ion-content{
    
   
    background-color: black;
}


ion-slides{

    display:block;
    background-color: black;
}



img{ 
    width: 100%;
    max-width: 500px;
    margin-block-start: 3%;
    margin-block-end: 3%;
    
    margin-top: 2%;
    
    
}


fala{
    text-align: center;
    background-color: aqua;
  }
  

  h1{
      background-color: aqua;


  }